# Cadence Conversion

## Input formats

nx(<list>)+mx(<list>)+...

where
n,m are positive integers
<lists> are one or more rep counts.
    
*Example*
    
1x(1,2,3) should become [1,2,3]

### Case 0:  Setup

In [18]:
import numpy as np
import pandas as pd
import os.path
from pathlib import Path
import re
#from dotenv import load_dotenv

# load environment
# load_dotenv()

datasets = Path('/Users/edmundlskoviak/iCloud/Data Sets/')

## Define Functions

Leave be for now...

In [ ]:
# superceded
def getSeries (inStr):
    inStr.replace('*', 'x')
    if inStr.find('x') > -1:
        (mult, set) = inStr.split('x')
    else:
        # Assume that the multiplier is 1
        mult = 1
        set = inStr

    # Unidirectional Ladder
    if set.count('-->') > 0:
        (start,stop) = set.split('-->')
        start = int(start.replace('(','').replace(')',''))
        stop = int(stop.replace('(','').replace(')',''))
        if stop < start:
            step = -1
            stop -= 1
        else:
            step = 1
            stop += 1
        cadence = np.tile(np.arange(start, stop, step), int(mult))
    # Bidirectional Ladder
    elif set.count('<-->') > 0:
        #TODO
        cadence = 'NaC'
    # Malformed Set
    elif set.count(',') == 0:
        cadence = 'NaC'
    # Basic Set
    else:
        res = list(eval(set))
        cadence = np.tile(res, int(mult))
    return cadence

# not used
def parseSeries( inStr):
    listSeries = []
    if inStr.find('+') > -1:
        listSeries = (inStr.split('+'))
    else:
        listSeries.append(inStr)
    return listSeries

In [ ]:

def tokenize(inStr):
    if inStr.find('+') > -1:
        return inStr.split('+')
    else:
        return [inStr]

def parseOperators(inStr):
    outList = []
    mode = 'tile'
    #inStr = inStr[0]

    if inStr.count('r') == 1:
        mode = 'repeat'
        inStr = inStr.replace('r','')

    inStr.replace('*','x')
    
    if inStr.count('x') == 0:
        # basic Set
        mult = 1
        set=inStr
    else:
        (mult, set) = inStr.split('x')

    # need to check to see if set has an operator embedded
    if set.count('-->') == 1:
        start, stop = set.split('-->')
        start = int(re.sub('\(','',start))
        stop = int(re.sub('\)','',stop))
        if stop < start:
            step = -1
            stop -= 1
        else:
            step = 1
            stop += 1
        set = np.arange(start, stop, step)
    else:
        # otherwise, evaluate set
        set = list(eval(set))

    if mode == 'tile':
        outList= np.tile(set, int(mult))
    elif mode == 'repeat':
        outList = np.repeat(set, int(mult))

    return outList

## Old Code -- deprecate

In [ ]:
#connStr = 'mysql+mysqldb://root:terces@0.0.0.0:3306/Activity'
#df = pd.read_sql_query('Table DataFrame;',connStr)

# New Approach

The csv data referenced below is an extract from the online database.  Need to parse it and create a table to be scanned into the R processor

In [21]:
df = pd.read_csv( datasets / 'sets.csv')

In [23]:
df.head()

,id,date,exercise_id,cadence,weights,weight_unit,notes
0,7235,2022-11-20 11:00:00,125,5*[7],BW,NaN,Depth
1,7236,2022-11-20 11:00:00,121,5*[7],25,lb,NaN
2,7237,2022-11-20 11:00:00,7,5*[7],95,lb,NaN
3,7238,2022-11-20 11:00:00,105,5*[10],"[30,35,37.5,37,5,37.5]",lb,sak
4,7239,2022-11-20 11:00:00,117,4*[12],[95],lb,NaN

### Case 1:  nx(<list>)

In [ ]:
for cadence in df['cadence']:
    listFinal = []
    for token in tokenize(cadence):
        #print(token)
        #print(parseOperators(token))
        listFinal.extend(parseOperators(token))
    #tokens = tokenize(cadence)
    #print(tokens)
    #print(parseOperators(tokens))
    print(f"In: {cadence}\t Out: {listFinal}")

In [ ]:
# superceded
cadences = df['cadence'].to_numpy()

for indata in cadences:
    print(f"{indata}:")
    listCadence = parseSeries(indata)
    print(listCadence)

    for cadence in listCadence:
        print(cadence)
        print(f"{getSeries(cadence)}")

#    print(listCadence)
#    if indata.find('+') > -1:
#        print(indata, indata.split('+'))
#    else:  
#        print(f"In: {indata} out: {getSeries(indata)}")

In [ ]:
row, col = df.shape
print (row, col)

In [ ]:
listL = []
rem = ''
start = 0
while len(helper) > 0:
    stop = helper.find('x')
    if stop == -1:
        listL.append(helper[start:])
        helper = ''
    else:
        listL.append(helper[start:stop-2])
        start = stop-1
        helper = helper[start:]
        break

print(listL, helper)

In [ ]:
def tokenize(inStr):
    if inStr.find('+') > -1:
        return inStr.split('+')
    else:
        return [inStr]

def parseOperators(inStr):
    outList = []
    inStr.replace('*','+')
    if inStr.count('x') == 0:
        # basic Set
        outList=list(eval(inStr))
    
    if inStr.count('x') == 1:
        # in  n x (...)[t | r]  default to t
        mode = 'tile'
        if inStr.count('r') == 1:
            mode = 'repeat'
            inStr = inStr.replace('r','')
        (mult, set) = inStr.split('x')
        if mode == 'tile':
            outList= np.tile(list(eval(set)), int(mult))
        elif mode == 'repeat':
            outList = np.repeat(list(eval(set)), int(mult))

    return outList
 
helper = '2x(5,3,2)+2x(1,3)'
#print(tokenize(helper))
#print(parseOperators(tokenize(helper)[0]))
listFinal = []
for token in tokenize(helper):
    listFinal.extend(parseOperators(token))
    print(parseOperators(token))

print(listFinal)

In [ ]:
import re
i = '(1,)'
re.sub('\(','',i)
#i = i.replace('()','')
#print(int('(1'))

In [ ]:
i = '(1,2,3)'
eval(i)
list(eval(i))
y = (1,2,4)
list(y)